*{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

/* ---------------------------------------------------------- */
:root {
    --bg-color: #313536;
    --head-color: #242f39;
    /* --body-color: #efefef; */
    --body-color: #242526;
    --bs-color: #efefef;
    --div-color: #fff;
    /* --text-color: #000; */
    --text-color: #9a9a9a;

    /* ====== Transition ====== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

.dark-theme {
    /* --bg-color: #242526; */
    --body-color: #313335;
    --bs-color: #242526;
    --div-color: #0a0a0a;
    --text-color: #9a9a9a;
}

/* ----- Mobile View --------------------------------------------- */
@media (min-width: 576px){
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .container {
        width: 750px;
    }
}
@media (min-width: 992px){
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px){
    .container {
        max-width: 1170px;
    }
}

/* ----- Lager View ----------------------------------------------------- */

a{
    text-decoration: none;
    color: var(--text-color);
}
a:hover{
    text-decoration: underline;
}
body{
    background: var(--body-color);
    color: var(--text-color);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.container{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    z-index: 200;
}
.sidebar header .toggle{
    position: absolute;
    left: 30px;
    height: 25px;
    width: 25px;
    background: #2f566d;
    color: var(--text-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--tran-03);
    transform: translateY(-50%) rotate(90deg);
}
.sidebar.close .toggle{
    transform: translateY(-50%) rotate(270deg);
}
.sidebar{
    background: var(--head-color);
    color: var(--text-color);
    transition: var(--tran-03);
    transform: translateY(-50px);
    height: 30px;
    position: relative;
    z-index: 200;
}
.sidebar.close{
    height: 80px;
    transform: translateY(0px);
}
header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}
header .image img{
    width: 180px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}
.header a:hover{
    text-decoration: none;
}
.menu{
    width: 100%;
    padding: 0 14px;
    transition: var(--tran-05);
    z-index: 100;  
}
.menu-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 15px 20px;
}
.menu .text,
.menu .icon{
    color: #ffffe6;
}
.menu .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.dropdown.open{
    color: #fff;
    background: #2f566d;
}
.dropdown-menu{
    background: #2f566d;
    position: absolute;
    top: 100%;
    display: none;
    z-index: 1000;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.dropdown-menu li{
    padding: 10px;
    font-size: 16px;
}
.dropdown-menu li:hover{
    background: #1f3847;
}
.dropdown-menu a{
    color: #ffffe6;
}
.dropdown.open .dropdown-menu{
    display: block;
}
.search-box{
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0 20px;
}
.search-box .search-btn{
    border: 1px solid #62809d;
}
.search-box button{
    cursor: pointer;
    background: #1c242d;
    color: #62809d;
    border: 0;
    padding: 8px;
}
.search-box input{
    background: #1c242d;
    color: var(--text-color);
    border: 0;
    padding: 8px 10px;
    border-radius: 0;
    outline: none;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

.head-local{
    background: #2e3740;
    height: 30px;
    line-height: 30px;
    color: #4E4E4E;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    padding: 0 15px;
}
.breadcrumb {
    padding: 0;
    margin: 0;
    background-color: inherit;
    border-radius: 0;
    display: inline-block;
}
.breadcrumb a{
    color: #b1b1b1;
    font-size: 14px;
}
.breadcrumb li{
    display: inline-block;
}
.breadcrumb li+li:before {
    content: "/\00a0";
    padding: 0 5px;
    color: #ccc;
}

/* =========================== Main Content =========================== */
.main{
    position: relative;
    z-index: 100;
}
.column{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 30px;
    margin-top: 20px;
}
.title{
    padding: 15px 0;
    color: var(--text-color);
}
.novel-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0 20px;
}
.info {
    display: grid;
    padding: 5px;
    border-right: 1px solid #DDD;
}
.info-intro{
    display: grid;
    margin: 20px 0;
}
.info-intro .card {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0;
    font-size: 13px;
}
.card span{
    background: #1c242d;
    color: #09bb07;
    border: 1px solid #09bb07;
    padding: 2px 10px;
    border-radius: 5px;
}
.info-intro .card a{
    background: #1c242d;
    color: #829ab0;
    border: 1px solid #829ab0;
    padding: 2px 10px;
    border-radius: 5px;
}
.text-primary {
    color: #428bca;
}

/* -------------------------------------------------------------------- */
.info-content h3{
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.book-title{
    text-align: center;
    font-size: 24px;
}
.rate{
    text-align: center;
    padding-top: 10px;
}
.desc-text{
    text-align: justify;
    padding: 10px 0;
    height: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.show-more{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 5px 0;
}
.show-more a{
    background: #1c242d;
    color: #3b4d5e;
    border: 1px solid #3b4d5e;
    padding: 2px 10px;
}
.l-chapters{
    margin-top: 20px;
    padding-left: 20px;
    list-style: none;
}
.l-chapters li a{
    color: var(--text-color);
    line-height: 30px;
}

/* -------------------------------------------------------------------- */
.list-novels{
    background-color: #1c242d;
    border: 1px solid #3b4d5e;
    height: fit-content;
}
.list-novels .title-list{
    margin: 0 15px;
}
.list-novels .title-list h4{
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid var(--text-color);
}
.list-novels .row{
    margin: 0 15px;
    padding: 10px 0;
    border-bottom: 1px dashed #ddd;
}
.list-novels .row:last-child{
    border: 0;
}
.list-novels .row .col-xs{
    display: inline-flex;
    align-items: center;
    font-size: 13px;
}
.list-novels .row a{
    margin-left: 10px;
}
/* -------------------------------------------------------------------- */
.paging{
    font-size: 16px;
    text-align: center;
    margin: 30px 0;
}
.paging a{
    background: #1c242d;
    color: #3b4d5e;
    border: 1px solid #3b4d5e;
    padding: 6px 10px;
}
.paging .active{
    color: #a1b3c4;
    border: 1px solid #a1b3c4;
}
.paging .teleport:hover,
.show-more a:hover,
.paging a:hover,
.card a:hover{
    color: #a1b3c4;
    border: 1px solid #a1b3c4;
    text-decoration: none;
}

/* ------------------------- list-chapter ----------------------------- */
.list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.list-chapter{
    background: var(--body-color);
    text-align: left;
    margin-top: 10px;
    list-style: none;
    font-size: 14px;
    line-height: 25px;
}
.title-list h2{
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: normal;
    border-bottom: 1px solid #ddd;
}
/* -------------------------------------------------------------------- */
.wrap {
    position: fixed;
    right: 5%;
    bottom: 60px;
    z-index: 300;
}
.wrap-btn {
    background: #1c242d;
    color: #62809d;
    border: 2px solid #62809d;
    border-radius: 5px;
    padding: 8px 10px;
    margin: 0 2px;
}
.wrap-btn:hover {
    color: #b1c0ce;
    border-color: #b1c0ce;
}

footer{
    background: var(--bg-color);
    color: #8d8d8d;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-size: 14px;
}
footer a{
    color: #b1b1b1;
}

/* ----- Mobile View --------------------------------------------- */
@media (max-width: 992px){
    .container {
        max-width: 970px;
    }
}
@media (max-width: 768px){
    .container {
        max-width: 750px;
    }
    .column, .novel-info, .list{
        grid-template-columns: repeat(1, 1fr);
    }
    .info, .info-intro{
        border: none;
        justify-items: center;
    }
    .card{
        justify-content: center;
    }
    .list-novels{
        display: none;
    }
}
@media (max-width: 576px){
    .container {
        max-width: 540px;
    }
    .list-novels{
        display: none;
    }
}