*{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

/* ---------------------------------------------------------- */
:root {
    --bg-color: #313536;
    --head-color: #242f39;
    /* --body-color: #efefef; */
    --body-color: #242526;
    --bs-color: #efefef;
    --div-color: #fff;
    /* --text-color: #000; */
    --text-color: #9a9a9a;

    /* ====== Transition ====== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

.dark-theme {
    /* --bg-color: #242526; */
    --body-color: #313335;
    --bs-color: #242526;
    --div-color: #0a0a0a;
    --text-color: #9a9a9a;
}

/* ----- Mobile View --------------------------------------------- */
@media (min-width: 576px){
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .container {
        width: 750px;
    }
}
@media (min-width: 992px){
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px){
    .container {
        max-width: 1170px;
    }
}

/* ----- Lager View ----------------------------------------------------- */

a{
    text-decoration: none;
}
body{
    background: var(--body-color);
}
.container{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    z-index: 200;
}
.sidebar{
    background: var(--head-color);
    color: var(--text-color);
    transition: var(--tran-03);
    transform: translateY(-50px);
    height: 30px;
    position: relative;
    z-index: 200;
}
.sidebar.close{
    height: 80px;
    transform: translateY(0px);
}
.sidebar header .toggle{
    position: absolute;
    left: 30px;
    height: 25px;
    width: 25px;
    background: #2f566d;
    color: var(--text-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--tran-03);
    transform: translateY(-50%) rotate(90deg);
}
.sidebar.close .toggle{
    transform: translateY(-50%) rotate(270deg);
}
header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}
header .image img{
    width: 180px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}
.menu{
    width: 100%;
    padding: 0 14px;
    transition: var(--tran-05);
}
.menu-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 15px 20px;
}
.menu .text,
.menu .icon{
    color: #ffffe6;
}
.menu .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.dropdown.open{
    color: #fff;
    background: #2f566d;
}
.dropdown-menu{
    background: #2f566d;
    position: absolute;
    top: 100%;
    display: none;
    z-index: 1000;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.dropdown-menu li{
    padding: 10px;
    font-size: 16px;
}
.dropdown-menu li:hover{
    background: #1f3847;
}
.dropdown-menu a{
    color: #ffffe6;
}
.dropdown.open .dropdown-menu{
    display: block;
}
.search-box{
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0 20px;
}
.search-box .search-btn{
    border: 1px solid #62809d;
}
.search-box button{
    cursor: pointer;
    background: #1c242d;
    color: #62809d;
    border: 0;
    padding: 8px;
}
.search-box input{
    background: #1c242d;
    color: var(--text-color);
    border: 0;
    padding: 8px 10px;
    border-radius: 0;
    outline: none;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

.head-local{
    background: #2e3740;
    height: 30px;
    line-height: 30px;
    color: #4E4E4E;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    padding: 0 15px;
}
.breadcrumb {
    padding: 0;
    margin: 0;
    background-color: inherit;
    border-radius: 0;
    display: inline-block;
}
.breadcrumb a{
    color: #b1b1b1;
    font-size: 14px;
}
.breadcrumb a:hover{
    text-decoration: underline;
}
.breadcrumb li{
    display: inline-block;
}
.breadcrumb li+li:before {
    content: "/\00a0";
    padding: 0 5px;
    color: #ccc;
}

/* =========================== Main Content =========================== */
.main{
    position: relative;
    z-index: 100;
}
.title{
    padding: 15px 0;
}
.novels-title{
    display: table;
    font-size: 24px;
    margin: 0 auto 5px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', Tahoma, sans-serif;
    color: #82a82d;
    text-shadow: 0 0 1px #000;
}
.novels-title:hover{
    color: #9bc936;
}
.row h2 a:hover,
.row h2 a:focus{
    color: #b1b1b1;
}
.chapter-title{
    display: table;
    margin: 0 auto 5px;
    color: #808080;
    font-size: 16px;
}

hr.chapter-start{
    background: url('/images/spriteimg_new_white_op.png') -200px -27px no-repeat;
    width: 59px;
    height: 20px;
    border: 0;
    margin: 10px auto;
    display: table;
}
hr.chapter-end{
    background: url('/images/spriteimg_new_white_op.png') 0 -51px no-repeat;
    width: 277px;
    height: 35px;
    border: 0;
    margin: 10px auto;
    display: table;
}

.chapter-nav{
    padding: 10px 0;
    font-size: 16px;
}
.chapter-list{
    font-size: 16px;
    width: 170px;
    transition: var(--tran-04);
    display: none;
}
.btn-group{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}
.btn-chapter-nav{
    background: #1c242d;
    color: #62809d;
    border: 1px solid #62809d;
    padding: 8px;
    margin: 0 2px;
}
.btn-chapter-nav:hover{
    color: #b1c0ce;
    border-color: #b1c0ce;
}
.btn-chapter-nav.jump{
    width: 120px;
}
.btn-prev{
    border-radius: 5px 0 0 5px;
}
.btn-next{
    border-radius: 0 5px 5px 0;
}
/* ---------------------------------- main ---------------------------- */
.main-content{
    color: var(--text-color);
    font-size: 24px;
    line-height: 180%;
    text-align:justify;
    word-wrap: break-word;
}
/* -------------------------------------------------------------------- */
.wrap {
    position: fixed;
    right: 5%;
    bottom: 60px;
    z-index: 300;
}
.wrap-btn {
    background: #1c242d;
    color: #62809d;
    border: 2px solid #62809d;
    border-radius: 5px;
    padding: 8px 10px;
    margin: 0 2px;
}
.wrap-btn:hover {
    color: #b1c0ce;
    border-color: #b1c0ce;
}

footer{
    background: var(--bg-color);
    color: #8d8d8d;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
footer a{
    color: #b1b1b1;
}